@import "bootstrap/dist/css/bootstrap";

.navbar {
  background-color: rgb(22, 24, 51) !important;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

.navbar-toggler {
  background-color: rgb(209, 209, 209) !important;
}

a {
  text-decoration: none;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

#homeJumbo {
  margin: 0px;
  background-image: asset-url(home_1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  background-image: 1 linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    asset-url(home_1);
}

.jumbo {
  color: rgb(162, 162, 231);
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: rgb(218, 218, 218);
}

#sticky-footer {
  flex-shrink: none;
}

/*End of Sticky footer*/

/*pagination*/
.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}
.apple_pagination a,
.apple_pagination span {
  padding: 0.2em 0.3em;
}
.apple_pagination .disabled {
  color: #aaaaaa;
}
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.apple_pagination a {
  text-decoration: none;
  color: black;
}
.apple_pagination a:hover,
.apple_pagination a:focus {
  text-decoration: underline;
}
