<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Raish Khaitu", "https://github.com/dragneel101", class:"text-white",target: :_blank %></small>
  </div>
</footer>
